version: "3.9"

services:
  postgres:
    image: postgres:15.1
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin123
      - POSTGRES_DB=course_db
    ports:
      - "5432:5432"